<template>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">

    <require from="../fetchdata/TimeOnlyValueConverter"></require>
    <require from="./DateWithWeekdayValueConverter"></require>
    
    <div class="text-uppercase">
        <ul id="meetingdetails">
            <li id="meeting-title">
                <span id="meeting-back-arrow">&lt;</span> ${meeting.subject}
            </li>

            <li>
                <img src="../../icons/time.png" />
                ${meeting.startTime | dateWithWeekday}
            </li>

            <li>
                <img src="../../icons/time.png" />
                ${meeting.startTime | timeOnly} to ${meeting.endTime | timeOnly}
            </li>

            <li id="meetingparticipants">
                <img src="../../icons/person.png" />

                Participants

                <ul>
                    <li repeat.for="participant of meeting.participants">
                       <span id="circle"></span>
                        
                        <div style="display:inline-block; position: relative; top: -10px; margin-left:10px;">
                            <span class="name"> ${participant.name}</span>
                            <br>
                            <span class="title"> ${participant.title}</span>
                        </div>
                    </li>
                </ul>
            </li>

            <li>
                <img src="../../icons/description.png" />

                Description

                <div class="">
                    ${meeting.description}
                </div>
            </li>
        </ul>
    </div>
</template>