@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    .body-content {
        padding-top: 50px;
    }
}

body { 
    font-family:Lato;
}

html, body,
body > div,
.full-height {
    height: 100%;
}

.meeting-body {
    background-image: url("bg-image.jpg");
    background-color: #cccccc;
    color: #ffffff;
}

.fetchdata {
    background-image: url("bg-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
}

.fetchdata p { 
    color:#bbb;
}

.fetchdata h1 {
    font-size:350%;
    font-kerning:auto;
}

#meetingsfooter {
    padding:5px;
    padding-top:20px;
    border-top: solid 1px #033;;
    background: rgba(0, 32, 32, 0.2);
    color: #fff;
}

/* TODO: ei toimi? */
#meeting-main { 
    vertical-align:central;
}

/* https://stackoverflow.com/questions/19215119/multiple-lines-in-a-horizontally-floated-list-item */
#meetinglist li {
    display: inline-block;
    list-style-type: none;
    padding-right: 20px;
}

#meetinglist ul li:before {
    display: inline-block;
    vertical-align: top;
}

#meetinglist ul li {
    display: inline-block;
    min-height: 22px;
}

#meetinglist ul li span.starttime {
    display: block;
    color: #fff;
    font-size: 80%;
    margin: 4px;
    color:#aaa;
}

#meetinglist ul li span.subject {
    display: block;
    color: #fff;
    font-size: 100%;
    font-weight:bolder;
    margin: 4px;
    margin-bottom: 2px;
}

#meetinglist ul li span.organizer {
    display: block;
    color: #fff;
    font-size: 80%;
    margin: 4px;
    margin-top:0px;
    text-transform: uppercase;
    color: #aaa;
}

#meeting-container {
    padding-bottom: 28%;
    padding-top: 28%;
}

/* MEETING DETAILS */
#meetingdetails img {
    margin-right: 10px;
}

#meetingdetails li {
    text-align: left;
    vertical-align: central;
    display: block;
    list-style-type: none;
    padding: 15px;
    color: #333;
    border-bottom: 1px solid #ccc;
}

#meetingdetails ul li:before {
    display: inline-block;
    vertical-align: top;
    text-align: left;
}

#meetingdetails ul li {
    min-height: 50px;
    border: none;
    padding: 5px;
}

#meetingdetails ul li span.name {
    color: #555;
    font-size: 100%;
    font-weight: bold;
    margin: 4px;
    margin-bottom: 0px;
}

#meetingdetails ul li span.title {
    color: #aaa;
    font-size: 80%;
    margin: 4px;
    margin-top:0px;
}

#meeting-title {
    text-align: left;
    display: block;
    list-style-type: none;
    border: 1px solid #ccc;
    background: #fc0;
    padding: 0px;
}

#meeting-back-arrow {
    font-size:300%;
    color: #eee;
    vertical-align:central;
    padding-right: 20px;
}

/* MEETING DETAILS */

#circle {
    display:inline-block;
    width: 50px;
    height: 50px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 50%;
    background: #eee;
}

/* progress bar */
#meetingprogress {
    vertical-align: central;
}

.progress-custom {
    display: table;
    width: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.progress-custom .progress {
    margin-bottom: 0;
    display: table-cell;
    vertical-align: middle;
    background-color: #888;
}

.progress-custom .progress-value {
    display: table-cell;
    vertical-align: middle;
    width: 1%;
    color: #bbb;
    font-size: 100%;
}
/* progress bar */

/* calendar */

#conference-title { 
    color:#888;
    margin:0;
}

#room-title { 
    font-size:150%;
    font-weight:bold;
}

.calendar-container { 
    height: 100%;
    width: 100%;
    background:#fff;
    margin-top:75px;
}

.calendar-hours {
    display:table-cell; 
    font-weight:bold; 
    font-size:80%; 
    vertical-align:middle; 
    padding-right:20px; 
    padding-left:20px;
}

.calendar-divider { 
    display:table-cell; 
    width:100%;
}

.header-fade { 
    height:100px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    position:absolute;
    top:60px;
    left:60px;
    width:100%;
    z-index:0;
}

.hour-line {
    height: 2px;
    position: absolute;
    left: 70px;
    width: 100%;
    background: #fc0;
}

.meeting-box {
    border: 1px solid #eee;
    min-width: 250px;
    width: auto;
    margin-left: 60px;
    margin-right: 60px;
    background: #fff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.meeting-subject {
    color: #000;
    font-size: 100%;
    font-weight: bolder;
}

.meeting-organizer {
    color: #aaa;
    font-size: 80%;
    text-transform: uppercase;
    color: #aaa;
}

/* calendar */