<template>
    <require from="../navmenu/navmenu.html"></require>
    <require from="./app.css"></require>
    
    <div class="container-fluid full-height">
        <div class="row full-height">
            <div class="col-sm-3 full-height">
                <navmenu router.bind="router"></navmenu>
            </div>
            <div class="col-sm-9 body-content full-height">
                <router-view style="height:100%"></router-view>
            </div>
        </div>
    </div>
</template>
