<template>
    <require from="./TimeOnlyValueConverter"></require>

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">

    <section class="fetchdata">
        <div class="text-uppercase text-center">
            <p>Current meeting</p>

            <div class="center-block" style="width: 50px;">
                <hr />
            </div>

            <h1>${ meetings[0].subject }</h1>

            <!-- TODO: ei näy? -->
            <div id="meetingprogress" class="progress-custom center-block" style="height: 2px;">
                <div class="progress-value">
                    ${meetings[0].startTime | timeOnly}
                </div>

                <div class="progress-bar" role="progressbar" valuenow="70" valuemin="0" valuemax="100" style="width: 30%; color: #fc0;">
                </div>

                <div class="progress-value">
                    ${meetings[0].endTime | timeOnly}
                </div>
            </div>

            <p>${ meetings[0].organizer }</p>
        </div>

        <div id="meetingsfooter" class="">
            <p if.bind="!meetings"><em>Loading...</em></p>

            <ul id="meetinglist" if.bind="meetings">
                <li repeat.for="meeting of upcomingMeetings">
                    <ul>
                        <li>
                            <span class="starttime">${meeting.startTime | timeOnly} - ${meeting.endTime | timeOnly}</span>
                            <span class="subject">${meeting.subject}</span>
                            <span class="organizer">${meeting.organizer}</span>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </section>
</template>
