<template>
    <style type="text/css">
        body {
            background: url("bg-image.jpg");
        }
    </style>

    <require from="./TimeOnlyValueConverter"></require>

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">

    <section class="fetchdata">
        <div id="meeting-main" class="text-uppercase text-center">
            <div id="meeting-container">
                <p>Current meeting</p>

                <div class="center-block" style="width: 25px; ">
                    <hr />
                </div>

                <h1>${meetings[0].subject}</h1>

                <!-- TODO: progressbar ei näy/väärässä paikassa? -->
                <div id="meetingprogress" class="progress-custom center-block">
                    <div class="progress-value">
                        ${meetings[0].startTime | timeOnly}
                    </div>

                    <div class="progress progress-custom">
                        <div class="progress-bar" css="width: ${currentMeetingProgress}%" style="background-color: #fc0;" role="progressbar" valuenow="70" valuemin="0" valuemax="100">
                            <!--${currentMeetingProgress}-->
                        </div>
                    </div>
                    <div class="progress-value">
                        ${meetings[0].endTime | timeOnly}
                    </div>
                </div>
                

                <p>${meetings[0].organizer}</p>
            </div>
        </div>

        <div id="meetingsfooter" class="">
            <p if.bind="!meetings"><em>Loading...</em></p>

            <ul id="meetinglist" if.bind="meetings">
                <li repeat.for="meeting of upcomingMeetings">
                    <ul>
                        <li>
                            <span class="starttime">${meeting.startTime | timeOnly} - ${meeting.endTime | timeOnly}</span>
                            <span class="subject">${meeting.subject}</span>
                            <span class="organizer">${meeting.organizer}</span>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </section>
</template>
